
<mat-card class="p-2">
  <mat-card-title>
    <b class="text-center" >INVESTMENT</b>
  </mat-card-title>
  <mat-card-content>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Vol</th>
          <th class="text-center">OFFER</th>
          <th class="text-center">BID</th>
          <th class="text-center">Vol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sell of sells">
          <th class="text-center">{{sell.remainunits}}</th>
          <th class="text-center">{{sell.unitprice}}</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let buy of buys">
          <th></th>
          <th></th>
          <th class="text-center">{{buy.unitprice}}</th>
          <th class="text-center">{{buy.remainunits}}</th>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

