.mat-card {
  max-width:745px;
  min-width: 155px;
  margin-left: auto;
  margin-right: auto;
  color:blue;
  background-color: goldenrod   !important;
  padding:5px !important;
}

.mat-card-content {
  color:darkslategray;
  background-color: whitesmoke   !important;
  padding:5px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


.loader {
  left: 50%;
  margin-left: -4em;
}