
  <mat-card>
  <mat-card-title>
    <b class="text-center" >WITHDRAWAL</b>
  </mat-card-title>
    <mat-card-content>
    
        <form *ngIf="!submitted"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        > 
  
        <div class="form-group p-2">
          <p>balance: ${{currentUserContent.cashbalance}}</p>
        </div>
  
        <div  class="form-group">
          <mat-form-field  appearance="fill">
            <mat-label>Withdrawal in USD amount</mat-label>
            <input matInput type="number" 
              [(ngModel)]="form.amount" 
              required/>
          </mat-form-field>
        </div>
        
        <div  class="form-group">
          <mat-form-field>
            <mat-label>PayPal account</mat-label>
            <mat-select  [(ngModel)]="form.paypalaccount">
              <mat-option *ngFor="let option of paypaloptions" [value]="option.detail" >
              {{option.detail}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div  class="form-group p-2 mb-3">
          <button mat-flat-button>
            <h4> <b class="text-center" >CONFIRM</b> </h4>
          </button>
        </div>
          
          <div *ngIf="submitted && successed"  class="form-group">
              <p class="text-center">Withdrawal completed</p>
          </div>
          
        </form>
            
        <div *ngIf="submitted">
          <mat-spinner class="loader"></mat-spinner>
          <div class="p-2">
            <p>Withdrawal ${{form.amount}} from {{currentUserContent.username}} cashbalance.</p>
          </div>
        </div>
  
    </mat-card-content>
</mat-card>

