
<mat-card class="p-3">
  <mat-card-content>
    <app-admin-usercontents-card></app-admin-usercontents-card>
  </mat-card-content>
</mat-card>

<mat-card class="p-3 mt-3">
  <mat-card-content>
    <app-admin-users-manager></app-admin-users-manager>
  </mat-card-content>
</mat-card>

<mat-card class="p-3 mt-3">
  <mat-card-content>
    <app-admin-moderators-manager></app-admin-moderators-manager>
  </mat-card-content>
</mat-card>

<mat-card class="p-3 mt-3">
  <mat-card-content>
    <app-admin-products-manager></app-admin-products-manager>
  </mat-card-content>
</mat-card>

<mat-card class="p-3 mt-3">
  <mat-card-content>
    <app-admin-solutions-manager></app-admin-solutions-manager>
  </mat-card-content>
</mat-card>