<mat-card>
  <mat-card-content>
    <img id="profile-img"  src="./../../assets/images/avatar/avatar_2x.png"  class="image-profiile"/>

    <form *ngIf="!isLoggedIn"  #f="ngForm"  name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
     novalidate
    >

              <div  class="form-group">
                <mat-form-field>
                  <mat-label>UserName</mat-label>
                  <input matInput type="text" name="username" ngModel require minlength="6" #username="ngModel"
                  [(ngModel)]="form.username"
                  >
                </mat-form-field>
              </div>
          

              <div  class="form-group">
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput type="password" name="password" ngModel require minlength="6" #password="ngModel"
                  [(ngModel)]="form.password"
                  >
                </mat-form-field>
              </div>


              <div  class="form-group">
                <div class="alert alert-danger" role="alert"  *ngIf="!username.valid">
                  <div >Username must be at least 6 characters </div>
                </div>
              </div>
          

              <div  class="form-group">
                <div class="alert alert-danger"   role="alert" *ngIf="username.valid && !password.valid"> 
                  <div >Password must be at least 6 characters</div>
                </div>
              </div>
          

              <div  class="form-group">
                <button mat-flat-button>
                  <h4> <b class="text-center" >Login</b> </h4>
                </button>
              </div>

              <div  class="form-group">
                <div class="alert alert-danger"  role="alert"  *ngIf="f.submitted && isLoginFailed">
                  Login failed: {{ errorMessage }}
                </div>
                <div class="alert alert-success"  role="alert"  *ngIf="f.submitted && !isLoginFailed">
                  Login successed: {{ errorMessage }}
                </div>
              </div>

    </form>

    <div class="alert alert-success"  role="alert" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </mat-card-content>
</mat-card>


