<!-- Footer -->
  <mat-card>
    <mat-card-content>
      <div class="row">

        <div class="col-sm-4">
          <span class="border border-0">
            <mat-card class="p-2 m-3">
              <mat-card-title>
                <p class="text-center">OUR MISSION</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-center">cloud blockchain and artificial intelligence</p>
              </mat-card-subtitle>
              <mat-card-content>

                <p>More and more people in the world seek to secure the own investment by self trading.</p>

                <p>New generation look for own individule application development witnin a cloud platform.</p>

                <p>Mobile phone demand create a pinpoint to create nano chipsets bring to fast performance growth with consume little electricity power.</p>
      
                <p>Next create server in a cloud and client at a hand mobile.</p>

                <p>Developing is just start, the newly client server platfrom in on growing into fast growth by bilion world propulation.</p>

                <p>We have mission to create a trade advisor act as artificial intelligence as infrastructure for world propulation.</p>

                <p>From cloud server with handy client phone to artificial intelligence.</p>

              </mat-card-content>
              <mat-card-footer>
                <p>Finally to be a born of Iot</p>
              </mat-card-footer>
            </mat-card>
          </span>
        </div>

        <div class="col-sm-4">
          <span class="border border-0 col-sm-4">
            <mat-card class="p-2 m-3">
              <mat-card-title>
                <p class="text-center">PRIVACY POLICY</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-center">one account one password one contact</p>
                <p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
              </mat-card-subtitle>

                <mat-card-content>

                  <p>We belive that 'two-factor authentication' is not save as Phone or Email can reach it with personal data.</p>

                  <p>Some people use office email address and is not secure.</p>

                  <p>In some country will resell the phone number and mostly cost expansive to handle.</p>

                  <p>Some email provider allow to access by using personal data.</p>

                  <p>Hacking software can reach a mobile phone and could read your email and sms remotely.</p>
                  
                  <p>Using two-factor authentication is hard to keep your personal data.</p>

                  <p>We offer to use one account one password one contact policy.</p>

                </mat-card-content>

              <mat-card-subtitle>
                <p class="text-center">ONE ACCOUNT</p>
              </mat-card-subtitle>

                <mat-card-content>
                  <p></p>
                  
                </mat-card-content>

              <mat-card-subtitle>
                <p class="text-center">ONE PASSWORD</p>
              </mat-card-subtitle>
              <mat-card-content>
                <p></p>
              </mat-card-content>

              <mat-card-subtitle>
                <p class="text-center">ONE CONTACT</p>
              </mat-card-subtitle>

              <mat-card-content>
                <mat-card-content>
                  <p></p>
                </mat-card-content>
                    
              
              </mat-card-content>
              <mat-card-footer>
                <p>Finally to be a born of Iot</p>
              </mat-card-footer>
            </mat-card>
          </span>
        </div>

        <div class="col-sm-4">
          <span class="border border-0 col-sm-4">
            <mat-card class="p-2 m-3">
              <mat-card-title>
                <p class="text-center">PRIVACY POLICY</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-center">ONE ACCOUNT</p>
                <p class="text-center">ONE PASSWORD</p>
                <p class="text-center">ONE CONTACT</p>
              </mat-card-subtitle>
              <mat-card-content>
                    
                <p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
                  We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
                </p>
                <p>BitOptimizer is not keep any your information. And we do not want to know you.</p>

                
                <p>The shortage of semiconductor in the centuries of 20 as well as cloud blockchain and artificial intelligence were fast move. 
                  Entering into new technology is so important form this generation, our mission is to bring out to socity. This project bitoptimizer is a large and complex. It is system.
                It was offer for your hand at a ground cost. Forget super computor, use cloud or iot, switch from tuff to soft, work to play, it like a toy, it work profressional,
                  no compromise for the outcome.</p>
                  
              <p>BitOptimizer project wll run the optimizer of MT5 experts on vary periods, vary leverage, vary testtime, vary currency and vary deposit. These create thousand choice of optimizer,
                  and can be ten thousand or more, experts can be thousand on the cloud. User can download for free to run.
                  Using cloud as server, desktop as server or iot as server is to drop operation cost to ground. With this process we can get report and evaluate where to place money.
              </p>
              <p>I grant a Iot server into market from here as well as provide a solution for member to eveluate from the results on cloud.</p>
    
              
              </mat-card-content>
            </mat-card>
          </span>
        </div>

        <div class="col-sm-4">
          <span class="border border-0 col-sm-4">
            <mat-card class="p-2 m-3">
              <mat-card-title>
                <p class="text-center">PRIVACY POLICY</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-center">ONE ACCOUNT</p>
                <p class="text-center">ONE PASSWORD</p>
                <p class="text-center">ONE CONTACT</p>
              </mat-card-subtitle>
              <mat-card-content>
                    
                <p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
                  We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
                </p>
                <p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
              
              </mat-card-content>
            </mat-card>
          </span>
        </div>

        <div class="col-sm-4">
          <span class="border border-0 col-sm-4">
            <mat-card class="p-2 m-3">
              <mat-card-title>
                <p class="text-center">PRIVACY POLICY</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-center">ONE ACCOUNT</p>
                <p class="text-center">ONE PASSWORD</p>
                <p class="text-center">ONE CONTACT</p>
              </mat-card-subtitle>
              <mat-card-content>
                    
                <p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
                  We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
                </p>
                <p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
              
              </mat-card-content>
            </mat-card>
          </span>
        </div>

        <div class="col-sm-4">
        
            <mat-card class="p-2 m-3">
              <mat-card-title>
                <p class="text-center">PRIVACY POLICY</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-center">ONE ACCOUNT</p>
                <p class="text-center">ONE PASSWORD</p>
                <p class="text-center">ONE CONTACT</p>
              </mat-card-subtitle>
              <mat-card-content>
                    
                <p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
                  We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
                </p>
                <p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
              
              </mat-card-content>
            </mat-card>
        
        </div>

      </div>
    </mat-card-content>
  </mat-card>
<!-- Footer -->


