
<mat-card>
  <mat-card-content>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Vol</th>
          <th class="text-center">OFFER</th>
          <th class="text-center">BID</th>
          <th class="text-center">Vol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of displaysource.offer">
          <th class="text-center">{{offer.unit}}</th>
          <th class="text-center">{{offer.price}}</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let bid of displaysource.bid">
          <th></th>
          <th></th>
          <th class="text-center">{{bid.price}}</th>
          <th class="text-center">{{bid.unit}}</th>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

