.mat-tab-group {
  border: 2px solid grey;
  background-color:whitesmoke;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.mat-tab {
  border: 2px solid grey;
  background-color:whitesmoke;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.mat-card {
  color:black;
  font-size: large;
  background-color: rgb(153, 146, 133)   !important;
  padding:2px !important;
}

.mat-card-header{
  color:black;
  font-size: large;
  background-color: rgb(153, 146, 133)   !important;
  padding:5px !important;
}

.mat-card-content {
  color:black;
  font-size: large;
  background-color: rgb(153, 146, 133)   !important;
  padding:50px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

