
<mat-card class="p-3">
  <mat-card-content>
    <app-usercontent-card [currentUserContent]="currentUserContent"></app-usercontent-card>
  </mat-card-content>
</mat-card>

<mat-card class="p-3 mt-3">
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="OnTabChanged()">

      <mat-tab label="Deposit" >
        <mat-card class="p-3">
          <mat-card-content >
          
              <app-butt-deposit [currentUserContent]="currentUserContent" [tabChangedCount]="tabChangedCount"></app-butt-deposit>
          
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="Withdrawal">
        <mat-card class="p-3">
          <mat-card-content>
         
              <app-butt-withdrawal [currentUserContent]="currentUserContent"></app-butt-withdrawal>
         
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="Buy bitoptimizer">
        <mat-card class="p-3">
          <mat-card-content>
          
              <app-butt-buy-bitoptimizer [currentUserContent]="currentUserContent"></app-butt-buy-bitoptimizer>
           
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="Sell bitoptimizer">
        <mat-card class="p-3">
          <mat-card-content>
          
              <app-butt-sell-bitoptimizer [currentUserContent]="currentUserContent"></app-butt-sell-bitoptimizer>
          
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="Buy Investment">
          <mat-card class="p-3">
            <mat-card-content>
            
                <app-butt-buy-investment [currentUserContent]="currentUserContent"></app-butt-buy-investment>
            
            </mat-card-content>
          </mat-card>
      </mat-tab>

      <mat-tab label="Sell Investment">
        <mat-card class="p-3">
          <mat-card-content>
          
              <app-butt-sell-investment [currentUserContent]="currentUserContent"></app-butt-sell-investment>
           
          </mat-card-content>
        </mat-card>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>



    
   
    
   
   
    
    

   
   
   


