<mat-divider></mat-divider>
<mat-card>
    <app-usercontent-card [currentUserContent]="currentUserContent"></app-usercontent-card>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-tab-group mat-align-tabs="center" #tabGroup (selectedTabChange)="tabChanged($event)"  [(selectedIndex)]="currTabIndex">

      <mat-tab label="Deposit" >
        <mat-card>
          <app-butt-deposit [currentUserContent]="currentUserContent" [tabChangedCount]="tabChangedCount" [currTapIndex]='currTabIndex'></app-butt-deposit>
        </mat-card>
      </mat-tab>

      <mat-tab label="Withdrawal">
        <mat-card>
          <app-butt-withdrawal [currentUserContent]="currentUserContent"></app-butt-withdrawal>
        </mat-card>
      </mat-tab>

      <mat-tab label="Buy bitoptimizer">
        <mat-card>
          <app-butt-buy-bitoptimizer [currentUserContent]="currentUserContent"></app-butt-buy-bitoptimizer>
        </mat-card>
      </mat-tab>

      <mat-tab label="Sell bitoptimizer">
        <mat-card>
          <app-butt-sell-bitoptimizer [currentUserContent]="currentUserContent"></app-butt-sell-bitoptimizer>
        </mat-card>
      </mat-tab>

      <mat-tab label="Buy Investment">
        <mat-card>
            <app-butt-buy-investment [currentUserContent]="currentUserContent"></app-butt-buy-investment>
          </mat-card>
      </mat-tab>

      <mat-tab label="Sell Investment">
        <mat-card>
          <app-butt-sell-investment [currentUserContent]="currentUserContent"></app-butt-sell-investment>
        </mat-card>
      </mat-tab>

    </mat-tab-group>
</mat-card>
 <mat-divider></mat-divider>
<mat-card>
  <app-table-user-transection [currentUserContent]="currentUserContent"></app-table-user-transection>
</mat-card>
<mat-divider></mat-divider>



    
   
    
   
   
    
    

   
   
   


