.mat-tab-group {
  border: 2px solid grey;
  background-color:whitesmoke;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.mat-tab {
  border: 2px solid grey;
  background-color:whitesmoke;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
 
.mat-card-header{
  color:cornsilk;
  background-color: rgb(140, 192, 87)   !important;
  padding:5px !important;
}

.mat-card {
  color:cornsilk;
  background-color: rgb(194, 231, 157)   !important;
  padding:5px !important;
}

.mat-card-content {
  color:cornsilk;
  background-color: rgb(128, 111, 80)   !important;
  padding:5px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  background-color: rgb(128, 111, 80)   !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}