.mat-card {
  color:blue;
  background-color: goldenrod   !important;
  padding:5px !important;
}

.mat-card-content {
  color:darkslategray;
  background-color: whitesmoke   !important;
  padding:5px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.mat-form-field {
  width:100%;
  min-width: 325px;
  max-width:745px;
  align-content: center;
}

.loader {
  left: 50%;
  margin-left: -4em;
}

.mat-flat-button {
  background-color: goldenrod   !important;
  color:blue;
  width:100%;
  min-width: 325px;
  max-width:745px;
  height: 50;
}