
<mat-card class="p-2 m-4">
<mat-card-title>
  <h5>::{{currentUserContent.username}}</h5>
</mat-card-title>

  <mat-card-content>
  
      <form *ngIf="!submitted"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      > 

      <div class="form-group p-2">
        <p>balance:$ {{currentUserContent.balance}}</p>
      </div>

      <div  class="form-group">
        <mat-form-field  appearance="fill">
          <mat-label>Deposit in USD amount</mat-label>
          <input matInput type="number" 
            [(ngModel)]="form.amount" 
            required>
        </mat-form-field>
      </div>

        <div  class="form-group">
        <mat-form-field  appearance="fill">
          <mat-label>PayPal account</mat-label>
          <input matInput type="email" autocomplete="email"
          [(ngModel)]="form.paypalaccount"
            required>
        </mat-form-field>
        </div>

        <div  class="form-group">
          <button mat-fab color="accent">
            Submit
          </button>
        </div>
        
        <div *ngIf="submitted && successed"  class="form-group">
            <p class="text-center">Deposit completed</p>
        </div>
        
      </form>
          
      <div *ngIf="submitted">
        <mat-spinner class="loader"></mat-spinner>
        <div class="p-2">
          <p>Deposit ${{form.amount}} for {{currentUserContent.username}} from {{form.paypalaccount}}.</p>
        </div>
      </div>

  </mat-card-content>
</mat-card>


  





