<mat-divider></mat-divider>
  <div class="container-fluid p-3 bg-secondary text-white text-center">
    <h1>bitoptimizer Project</h1>      
    <p>Invest, Trade & Work</p>
  </div>
  <mat-divider></mat-divider>
    <app-header></app-header>
  <mat-divider></mat-divider>
  <div class="bg-secondary">
    <div class="container-fluid pt-3 pb-3  bg-secondary text-white text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
  <mat-divider></mat-divider>
    <app-footer></app-footer>
  <mat-divider></mat-divider>
  <div class="container-fluid p-3 bg-secondary text-white text-center"> 
    <p>Power by Chaiya Srisawat.</p>
  </div>
  <mat-divider></mat-divider>