.mat-card-header{
  color:black;
  font-size: large;
  background-color: rgb(153, 146, 133)   !important;
  padding:5px !important;
}
.mat-card-content {
  color:black;
  font-size:smaller;
  background-color: rgb(153, 146, 133)   !important;
  padding:5px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.mat-card-footer {
  font-size:x-small;
}
.mat-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.mat-table {
  min-height: 300px;
  max-height: 500px;
  min-width: 740px;
}
.mat-cell {
  font-size:small;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mat-paginator {
  font-size:x-small;
  font-style: italic;
  text-align: center;
}
.mat-header-cell {
  font-size:small;
  font-style: italic;
}
.mat-column-name {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center
}
.mat-column-position{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
}
.mat-column-weight{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
} 
.mat-column-symbol{
  text-align: center;
  align-self: stretch;
}
.mat-column-weight{
  align-self: stretch;
} 

  


