


  <mat-card>
    <app-market-board-investment></app-market-board-investment>
  </mat-card>

  <mat-card>
  <mat-card-title>
    <b class="text-center" >SELL INVESTMENT</b>
    <h5>::{{currentUserContent.username}}</h5>
  </mat-card-title>
  
    <mat-card-content>
    
        <form *ngIf="!submitted"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        > 
  
        <div class="form-group p-2">
          <p>investment units: {{currentUserContent.investment}}</p>
        </div>
  
        <div  class="form-group">
          <mat-form-field  appearance="fill">
            <mat-label>Price per unit in USD</mat-label>
            <input matInput type="number"
            [(ngModel)]="form.unitprice" 
              required/>
          </mat-form-field>
        </div>

        <div  class="form-group">
          <mat-form-field  appearance="fill">
            <mat-label>Total investment in units</mat-label>
            <input matInput type="number"
            [(ngModel)]="form.totalunits"
              required/>
          </mat-form-field>
        </div>
  
        <div  class="form-group p-2 mb-3">
          <button mat-flat-button>
            <h4> <b class="text-center" >CONFIRM</b> </h4>
          </button>
        </div>
          
          <div *ngIf="submitted && successed"  class="form-group">
              <p class="text-center">Sell investment completed</p>
          </div>
          
        </form>
            
        <div *ngIf="submitted">
          <mat-spinner class="loader"></mat-spinner>
          <div class="p-2">
            <p>Sell investment {{form.totalunits}} units for {{currentUserContent.username}} amount ${{form.unitprice*form.totalunits}}.</p>
          </div>
        </div>
  
    </mat-card-content>
</mat-card>


