

.mat-card-header{
  color:black;
  font-size: large;
  background-color: rgb(153, 146, 133)   !important;
  padding:5px !important;
}

.mat-card-content {
  color:black;
  font-size: large;
  background-color: rgb(153, 146, 133)   !important;
  padding:50px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
