
<mat-card>
    <mat-card-content>
     <h4>OPTIMIZATION AT THE CLOUD</h4>
     <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
      <mat-tab label="Experts">
        <mat-card class="p-3">
          <mat-card-content>
           
              <app-expert-table></app-expert-table>
          
           
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Parameters" >
        <div class="container-fluid"> 
          <div class="row">
            <mat-card class="col-sm-2 p-3">
              <mat-card-content>
              
                  <app-symbol-table></app-symbol-table>
              
               
              </mat-card-content>
            </mat-card>
            <mat-card class="col-sm-2 p-3">
              <mat-card-content>
              
                  <app-period-table></app-period-table> 
              
                  
              </mat-card-content>
            </mat-card>
            <mat-card class="col-sm-2 p-3">
              <mat-card-content>
                
                  <app-totalday-table></app-totalday-table>  
              
                
              </mat-card-content>
            </mat-card>
            <mat-card class="col-sm-2 p-3">
              <mat-card-content>
               
                  <app-deposit-table></app-deposit-table>
               
               
              </mat-card-content>
            </mat-card>
            <mat-card class="col-sm-2 p-3">
              <mat-card-content>
                
                  <app-leverage-table></app-leverage-table> 
                
               
              </mat-card-content>
            </mat-card>
            <mat-card class="col-sm-2 p-3">
              <mat-card-content>
              
                  <app-currency-table></app-currency-table>  
             
               
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="TesterPrograms">
        <mat-card class="p-3">
          <mat-card-content>
          
              <app-testerprogram-table></app-testerprogram-table>
           
           
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="TesterControls">
        <mat-card class="p-3">
          <mat-card-content>          
         
            <app-testercontrol-table></app-testercontrol-table>
        
          
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="OptimizerControls">
        <mat-card class="p-3">
          <mat-card-content>
           
              <app-optimizercontrol-table></app-optimizercontrol-table>
           
           
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="TesterResults">
        <mat-card class="p-3">
          <mat-card-content>
           
              <app-testerresult-table></app-testerresult-table>
          
         
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="TradingParameters">
        <mat-card class="p-3">
          <mat-card-content>
          
              <app-tradingparameter-table></app-tradingparameter-table>
           
           
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    </mat-card-content>
  </mat-card>
  
  
