
   
      <div class="row">
<div class="col-sm-4">
<mat-card>
<mat-card-content>
<p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
</p>
<p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
</mat-card-content>
</mat-card>
</div>
<div class="col-sm-4">
<mat-card>
<mat-card-content>  
<p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
</p>
<p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
</mat-card-content>
</mat-card>
</div>
<div class="col-sm-4">
<mat-card>
<mat-card-content>
<p>With this policy is to the responsibility of user to remember at start username password and email address. We provide no recover process or username change password change or email change.
We beleive this is best security for our client. Please set a very complex username and password and write down to safe place. In the case of lost it you can create new account. Your username password is live time and never expire.
</p>
<p>BitOptimizer is not keep any your information. And we do not want to know you.</p>
</mat-card-content>
</mat-card>     
</div>
      </div>    
    


  <mat-divider class="p-2"></mat-divider>
<app-currency-table [isLoggedIn]='isLoggedIn'></app-currency-table>
<mat-divider class="p-2"></mat-divider>
<app-deposit-table [isLoggedIn]='isLoggedIn'></app-deposit-table>
<mat-divider class="p-2"></mat-divider>
<app-expert-table [isLoggedIn]='isLoggedIn'></app-expert-table>
<mat-divider class="p-2"></mat-divider>
<app-leverage-table [isLoggedIn]='isLoggedIn'></app-leverage-table>
<mat-divider class="p-2"></mat-divider>
<app-totalday-table [isLoggedIn]='isLoggedIn'></app-totalday-table>
<mat-divider class="p-2"></mat-divider>
<app-symbol-table [isLoggedIn]='isLoggedIn'></app-symbol-table>
<mat-divider class="p-2"></mat-divider>
<app-period-table [isLoggedIn]='isLoggedIn'></app-period-table>
<mat-divider class="p-2"></mat-divider>
<app-program-table [isLoggedIn]='isLoggedIn'></app-program-table>
<mat-divider class="p-2"></mat-divider>
<app-optimizercontrol-table [isLoggedIn]='isLoggedIn'></app-optimizercontrol-table>
<mat-divider class="p-2"></mat-divider>
<app-testercontrol-table [isLoggedIn]='isLoggedIn'></app-testercontrol-table>
<mat-divider class="p-2"></mat-divider>
<app-testresult-table [isLoggedIn]='isLoggedIn'></app-testresult-table>
<mat-divider class="p-2"></mat-divider>
<app-tradingparameter-table [isLoggedIn]='isLoggedIn'></app-tradingparameter-table>
