
<mat-card>
  <mat-card-content>
   <h4>OPTIMIZATION AT THE CLOUD</h4>
   <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
    <mat-tab label="Experts">
      <mat-card class="p-3">
        <mat-card-content>
          <div class="main-div">
            <app-expert-table></app-expert-table>
          </div>
         
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Parameters" >
      <div class="container-fluid"> 
        <div class="row">
          <mat-card class="col-sm-2 p-3">
            <mat-card-content>
              <div class="main-div">
                <app-symbol-table></app-symbol-table>
              </div>
             
            </mat-card-content>
          </mat-card>
          <mat-card class="col-sm-2 p-3">
            <mat-card-content>
              <div class="main-div">
                <app-period-table></app-period-table> 
              </div>
                
            </mat-card-content>
          </mat-card>
          <mat-card class="col-sm-2 p-3">
            <mat-card-content>
              <div class="main-div">
                <app-totalday-table></app-totalday-table>  
              </div>
              
            </mat-card-content>
          </mat-card>
          <mat-card class="col-sm-2 p-3">
            <mat-card-content>
              <div class="main-div">
                <app-deposit-table></app-deposit-table>
              </div>
             
            </mat-card-content>
          </mat-card>
          <mat-card class="col-sm-2 p-3">
            <mat-card-content>
              <div class="main-div">
                <app-leverage-table></app-leverage-table> 
              </div>
             
            </mat-card-content>
          </mat-card>
          <mat-card class="col-sm-2 p-3">
            <mat-card-content>
              <div class="main-div">
                <app-currency-table></app-currency-table>  
              </div>
             
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="TesterPrograms">
      <mat-card class="p-3">
        <mat-card-content>
          <div class="main-div">
            <app-testerprogram-table></app-testerprogram-table>
          </div>
         
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="TesterControls">
      <mat-card class="p-3">
        <mat-card-content>          
        <div class="main-div">
          <app-testercontrol-table></app-testercontrol-table>
        </div>
        
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="OptimizerControls">
      <mat-card class="p-3">
        <mat-card-content>
          <div class="main-div">
            <app-optimizercontrol-table></app-optimizercontrol-table>
          </div>
         
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="TesterResults">
      <mat-card class="p-3">
        <mat-card-content>
          <div class="main-div">
            <app-testerresult-table></app-testerresult-table>
          </div>
       
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="TradingParameters">
      <mat-card class="p-3">
        <mat-card-content>
          <div class="main-div">
            <app-tradingparameter-table></app-tradingparameter-table>
          </div>
         
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  </mat-card-content>
</mat-card>

