

<app-currency-table [isLoggedIn]='isLoggedIn'></app-currency-table>
<app-deposit-table [isLoggedIn]='isLoggedIn'></app-deposit-table>
<app-expert-table [isLoggedIn]='isLoggedIn'></app-expert-table>
<app-leverage-table [isLoggedIn]='isLoggedIn'></app-leverage-table>
<app-totalday-table [isLoggedIn]='isLoggedIn'></app-totalday-table>
<app-symbol-table [isLoggedIn]='isLoggedIn'></app-symbol-table>
<app-period-table [isLoggedIn]='isLoggedIn'></app-period-table>

<app-program-table [isLoggedIn]='isLoggedIn'></app-program-table>
<app-optimizercontrol-table [isLoggedIn]='isLoggedIn'></app-optimizercontrol-table>
<app-testercontrol-table [isLoggedIn]='isLoggedIn'></app-testercontrol-table>
<app-testresult-table [isLoggedIn]='isLoggedIn'></app-testresult-table>
<app-tradingparameter-table [isLoggedIn]='isLoggedIn'></app-tradingparameter-table>